* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
/* *******ADDON Class******* */
.fontsize18 {
    font-size: 18px;
    margin-top: 1.5em;
    color: rgb(48, 55, 85);
}
.fontsize33 {
    font-size: 33px;
    margin-top: 1.6rem;
}

.content-body {
    display: flex;
    position: absolute;
    left: 12rem;
    width: 80%;
}

/* -----------HEADER----------- */
#header {
    position: relative;
}
#header .navbar {
    position: fixed;
    width: 100%;
    left: 0;
    background-color: rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid black;
    z-index: 100;
    opacity: 1;
}
#header .navbar .nav-logo {
    width: 135px;
    height: 50px;
}
#header .navbar-login a {
    padding: 0 3rem;
    color: rgb(27, 88, 158);
    text-decoration: none;
    font-size: 30px;
    width: 10px;
    height: 10px;
}
#header .navbar-login a:hover {
    color: rgb(0, 255, 13);
    width: 100px;
}
#header .nav-item .nav-link {
    font-size: 17px;
    color: rgb(27, 88, 158);
}
#header .nav-item .nav-link:hover {
    color: rgb(255, 0, 140);
}
.nav-item .dropdown-menu {
    margin-top: 13px;
}
.nav-item .dropdown-menu .dropdown-item {
    font-size: 15px;
    background-color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: rgb(27, 88, 158);
}
.nav-item .dropdown-menu .dropdown-item:hover {
    width: 100%;
    color: rgb(255, 0, 140);
}
/* -----------BODY-----------*/
#body {
    display: flex;
    text-align: left;
    margin: 130px 0 0;
    position: absolute;
    width: 80%;
}
#body .body-left {
    width: 50%;
    padding-left: 200px;
}
#body .body-left .join-text {
    background-color: rgb(100, 0, 228);
    font-size: 45px;
    position: absolute;
    width: 40%;
    top: 15rem;
    left: 5rem;
    color: white;
    padding: 30px;
}

#body .box-input {
    width: 350px;
    height: 50px;
}
#body .body-right {
    width: 50%;
    padding-left: 200px;
}
#body .body-right p {
    margin-top: 20px;
}
.button-signup {
    padding: 5px 15px;
    margin-top: 20px;
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 20px;
}
.button-signup:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(123, 255, 0);
    border-radius: 20px;
}
/* -----------CONTENT----------- */

#content .content-header {
    top: 50rem;
    color: #141c3a;
    position: absolute;
    font-size: 2.5rem;
    left: 15rem;
    margin-bottom: 1rem;
    line-height: 1.5;
    text-align: center;
    font-weight: bolder;
}

#content .content-body .content-body-text {
    position: inherit;
    left: 23rem;
    text-align: inherit;
}
/* -------ADVERTISEMENT-------- */
#Gioi-thieu {
    background-color: rgb(32, 36, 88);
    position: absolute;
    top: 165rem;
    width: 100%;
    height: 34rem;
}
#Gioi-thieu .Gioi-thieu-text {
    top: 6rem;
    left: 25rem;
    position: absolute;
    width: 50%;
    text-align: center;
    color: white;
}
#Gioi-thieu .Gioi-thieu-icon {
    position: absolute;
    left: -20rem;
    top: -5rem;
    font-size: 6rem;
    color: aquamarine;
}
#Gioi-thieu .Gioi-thieu-content {
    background-color: rgb(32, 36, 88);
    width: 100%;
    position: absolute;
    top: 34rem;
}
#Gioi-thieu .Gioi-thieu-content h2 {
    border-bottom: 2px solid;
    height: 7rem;
    color: white;
    font-size: 38px;
}
#Gioi-thieu p {
    height: 7rem;
    color: white;
    font-size: 20px;
    text-align: inherit;
}
#Gioi-thieu .Gioi-thieu-select {
    color: white;
    font-size: 25px;
    display: flex;
    justify-content: space-evenly;
}
